@font-face {
	font-family: 'Gyparody Hv';
	src: url('fonts/GyparodyHv-Regular.woff2') format('woff2'),
		url('fonts/GyparodyHv-Regular.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ITC Korinna';
	src: url('fonts/Korinna-Regular.woff2') format('woff2'),
		url('fonts/Korinna-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--blue: linear-gradient(180deg, #0120CB 0%, #011BA9 100%);
	--yellow: #FFE817;
	--green: #1feb00;
	--red: #ff1d04;
	--spooky-orange: #ad4e08;
	--spooky-orange-text: #fffec8;
	--gap: 0.1em;
	--text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
	box-sizing: border-box;
}

html,
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

}


body {
	font-family: 'Gyparody Hv';
	vertical-align: center;
	top: 50%;
	background: #222;
	color: white;
	font-size: 1.5vw;
	text-align: center;
	padding: 1em;
	background: linear-gradient(180deg, #2E2E3A 0%, #0C0C2C 100%);
}

/* @keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(90deg)
	}
}

@media screen and (max-width:600px) {
	body {
		animation: rotate 2s ease-in;
		transform: rotate(90deg);
		transition: all 2s;
	}
} */

.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 900;
	text-shadow: var(--text-shadow);
}

.jeopardy-title {
	font-size: 10rem;
}

h1 span {
	width: 900px;
}

h1 {
	font-size: 3.5rem;
}

.score {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title2 {
	font-size: 10rem;
}

#score-count {
	color: var(--yellow);
	font-size: 2em;
	font-weight: bold;
	margin-left: 0.2em;
}

.column ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#board {
	display: flex;
	justify-content: space-around;
	padding: 0.1rem;
	border: 5px dotted yellow;
}

#board .column {
	flex: 1;
	margin-left: var(--gap);
	margin-right: var(--gap);
}

#board .column header {
	text-transform: capitalize;
	font-family: 'ITC Korinna';
	background: var(--blue);
	text-align: center;
	margin-bottom: 1em;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#board .column li {
	background: var(--blue);
	color: var(--yellow);
	height: 3em;
	margin-bottom: 0.25em;
	font-family: 'Gyparody Hv';
}

#board .column button {
	height: 100%;
	color: inherit;
	font-size: 2em;
	-webkit-appearance: none;
	border: 0;
	background: none;
	display: block;
	width: 100%;
	cursor: pointer;
	text-shadow: var(--text-shadow);
	font-weight: bold;
}

#board button:hover {
	border: solid 2px gold;
	cursor: pointer;
	background-color: rgba(0, 76, 255, 0.761);
}

#board .column button.clicked {
	visibility: hidden;
}


#card-modal {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: var(--blue);
	position: fixed;
	font-size: 2vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#card-modal.clicked {
	opacity: 1;
	pointer-events: initial;
}

#card-modal.showing-result #result {
	display: block;
}

#clue-text {
	font-family: 'ITC Korinna';
	/* box-shadow: 5px 10px #161515; */
}

#card-model #clue-text {
	font-family: 'ITC Korinna';
	margin-bottom: 2em;
}

h2 #clue-text {
	font-family: Arial, Helvetica, sans-serif;
}

#result_correct-answer-text {
	font-family: 'ITC Korinna';
}

#result,
#card-modal.showing-result form {
	display: none;
}

#card-modal form {
	display: flex;
}

#card-modal form input[type="text"] {
	display: block;
	flex-grow: 1;
	height: 3em;
	line-height: 3em;
	border: 0;
	text-align: center;
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}

#card-modal form button[type="submit"] {
	padding-left: 2em;
	padding-right: 2em;
	cursor: pointer;
	font-family: 'Gyparody Hv';
	background: var(--yellow);
	border: 0;
	font-size: inherit;
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}

#card-modal-inner {
	width: 60%;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#result_success,
#result_fail {
	font-size: 2em;
	font-weight: bold;
}

#result_success {
	color: var(--green);
}

#result_fail {
	color: var(--red);
}

#result_correct-answer-text {
	font-weight: bold;
	font-size: 2em;
	display: block;
	margin-left: 0.1em;
}

#restart-button button {
	width: 8rem;
	height: 2.5rem;
	color: white;
	background-color: rgba(2, 255, 52, 0.626);
	border: none;
	text-decoration: none;
	font-family: 'Gyparody Hv';
	font-size: large;
	border-radius: 3px;
	margin-bottom: 3rem;
}

#restart-button button:hover {
	cursor: pointer;
	background-color: rgba(2, 255, 53, 0.812);

}